<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Monash Uni Units</title>
    <link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/mdui/0.4.2/css/mdui.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#3F51B5">
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="https://rankki.xyz/monash/icons.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://rankki.xyz/monash/icons.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://rankki.xyz/monash/icons.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://rankki.xyz/monash/icons.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://rankki.xyz/monash/icons.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://rankki.xyz/monash/icons.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://rankki.xyz/monash/icons.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://rankki.xyz/monash/icons.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://rankki.xyz/monash/icons.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://rankki.xyz/monash/icons.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://rankki.xyz/monash/icons.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://rankki.xyz/monash/icons.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://rankki.xyz/monash/icons.ico/favicon-16x16.png">
    <link rel="manifest" href="https://rankki.xyz/monash/icons.ico/manifest.json">
    <meta name="msapplication-TileImage" content="https://rankki.xyz/monash/icons.ico/ms-icon-144x144.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-102355473-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-102355473-2');
    </script>
    <script>
        if (location.protocol != 'https:') {
            location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
        }
    </script>
</head>

<body class="mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-pink">
    <div id="app">
        <header class="mdui-appbar mdui-appbar-fixed">
            <div class="mdui-toolbar mdui-color-theme">
                <a href="/monash" class="mdui-typo-headline mdui-hidden-xs-down">Monash Uni Units</a>
                <a href="/monash">Home</a>
                <a href="/monash/changelog">Change log</a>
            </div>
        </header>
        <div class="mdui-container doc-container">
            <div class="mdui-typo">
                <h1>开发日志 <small>Change log</small></h1>
            </div>
            <ul class="mdui-list">
                <li class="mdui-list-item mdui-ripple" v-for="log in logs" v-bind:key="log.version">
                    <div class="mdui-list-item-content">
                        <div class="mdui-typo-headline">{{ log.version }} <span class="mdui-typo-subheading-opacity">{{
                                log.date }}</span></div>
                        <div class="mdui-list-item-content">
                            <ul>
                                <li class="mdui-typo-caption" v-for="text in log.content">{{text}}</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdnjs.loli.net/ajax/libs/mdui/0.4.2/js/mdui.min.js"></script>
    <script src="https://cdnjs.loli.net/ajax/libs/vue/2.5.21/vue.min.js"></script>
    <script src="https://cdnjs.loli.net/ajax/libs/axios/0.9.1/axios.min.js"></script>
    <script>

        new Vue({
            el: "#app",
            data: {
                "logs": []
            },
            created: function () {
                let self = this;
                axios.get("https://rankki.xyz/monash/changelog/data.json")
                    .then(function (res) {
                        self.logs = res.data
                    })
            }
        })

    </script>

</body>

</html>